# In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. matplotlib
4. Scikit-Learn

**Objectives:**
List popular languages for Data Science:
- Python
- R
- SQL

| Data Science Tools|
|-------------------|
|Apache Spark|
|Jupyter|
|R|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Kushagra Kansal